# 🔹 Ignorar arquivos e diretórios gerados pelo Python  
**/__pycache__/  
**/*.pyc  
**/*.pyo  
**/*.pyd  

# 🔹 Ignorar notebooks temporários e checkpoints  
.ipynb_checkpoints  

# 🔹 Ignorar arquivos de ambiente e credenciais  
.env  

# 🔹 Ignorar arquivos de dados e modelos  
**/*.parquet  
**/*.csv  
data/  
models/  
mlartifacts/  
mlruns/  
workspace/  

# 🔹 Ignorar logs e arquivos temporários  
mlflow.log  
*.log  

# 🔹 Ignorar arquivos específicos do projeto  
02-monitoring/web_monitoring/  
02-monitoring/batch_monitoring/  
**/prefect_example.py  
**/prepare.py  

